@font-face {
    font-family: 'Linux_Libertine_O_C';
    src: url('linlibertine_c-webfont.eot');
    src: url('linlibertine_c-webfont.eot?#iefix') format('embedded-opentype'),
         url('linlibertine_c-webfont.woff') format('woff'),
         url('linlibertine_c-webfont.ttf') format('truetype'),
         url('linlibertine_c-webfont.svg#linux_libertine_o_cregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
